.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forecast-card {
  border: 1px blue solid;
  margin: 12px;
  padding: 16px;
}

.navbar-btn {
  color: white;
  font-size: 1em;
  font-family: Helvetica;
  padding: 16px;
  margin: 12px;
  border: 1px blue solid;
  background: transparent;
}

.navbar-btn:hover {
  color: gray;
}

.navbar-btn:focus {
  outline: 0;
  border: 1px gray solid;
  background-color: blue;
}
